{{!-- app/renderer/js/tpl/view.hbs --}}
{{#if error}}
    <p>{{ message }}</p>
{{else}}
    <table class="main-data">
        <tr>
            <td class="main-data-icon">
                <img src="data:image/png;base64,{{ icon }}"/>
            </td>
            <td class="main-data-temp">
                {{ temp }} &#8451;
            </td>
            <td class="main-data-hum">
                {{ humidity }} &#37;
            </td>
        </tr>
    </table>
    <div class="city-data">
        {{ cityName }}, {{ country }}
    </div>
{{/if}}
