{{!-- app/renderer/js/tpl/view.hbs --}}
{{#if error}}
    <p>{{ message }}</p>
{{else}}
    <div class="">
        <ul>
            <li><img src="data:image/png;base64,{{ icon }}"/></li>
            <li>{{ temp }}</li>
            <li>{{ pressure }}</li>
            <li>{{ humidity }}</li>
            <li>{{ cityName }}, {{ country }}</li>
        </ul>
    </div>
{{/if}}
